workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_PIPELINE_SOURCE == "push"
    - if: $CI_PIPELINE_SOURCE == "schedule"

stages:
  - changelog
  - prepare-build
  - build
  - test
  - security
  - publish
  - website

variables:
  GRADLE_OPTS: -Dorg.gradle.daemon=false -Xmx1g
  GRADLE_USER_HOME: $CI_PROJECT_DIR/.gradle
  KONAN_DATA_DIR: $CI_PROJECT_DIR/.konan
  KOTLIN_DATA_DIR: $CI_PROJECT_DIR/.kotlin
  BUILD_LINUX_IMAGE_NAME: registry.gitlab.com/connect2x/build-infrastructure/kmp-dockerfiles/kmp-dockerfiles-base:latest
  TRIVY_LINUX_IMAGE_NAME: registry.gitlab.com/connect2x/build-infrastructure/kmp-dockerfiles/kmp-dockerfiles-trivy:latest

.cache: &cache
  - key:
      files:
        - gradle/wrapper/gradle-wrapper.properties
        - gradle/libs.versions.toml
    paths:
      - $GRADLE_USER_HOME/wrapper
      - $GRADLE_USER_HOME/nodejs
      - $GRADLE_USER_HOME/yarn
      - $GRADLE_USER_HOME/native
      - $KONAN_DATA_DIR
      - $KOTLIN_DATA_DIR

.docker-variables: &docker-variables
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""
  DOCKER_DRIVER: overlay2

.artifact-reports: &artifact-reports
  name: reports
  when: always
  paths: [ "**/build/reports", "**/build/**/yarn.lock", "**/build/kotlin/abi-legacy" ]
  reports:
    junit: "**/build/test-results/**/TEST-*.xml"
    coverage_report:
      coverage_format: jacoco
      path: build/reports/kover/report.xml

.if-merge-request: &if-merge-request
  - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME

.if-release: &if-release
  - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+.*/'

.if-dev-release: &if-dev-release
  - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+.*/'
    when: never
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: never
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  - if: '$CI_COMMIT_BRANCH =~ /^v-\d+.\d+.\d+.*/'

build:mac:
  stage: build
  interruptible: true
  tags: [ "connect2x-mac" ]
  cache:
    - *cache
  rules:
    - *if-merge-request
  script:
    - ./gradlew
      compileKotlin{IosArm64,IosSimulatorArm64,IosX64,MacosArm64,MacosX64}
      compileTestKotlin{IosSimulatorArm64,IosX64,MacosArm64,MacosX64}
      --stacktrace

build:linux:
  stage: build
  interruptible: true
  tags: [ "connect2x-linux" ]
  image: $BUILD_LINUX_IMAGE_NAME
  cache:
    - *cache
  rules:
    - *if-merge-request
  script:
    - ./gradlew
      compileKotlin{Jvm,Js,LinuxX64,MingwX64}
      compileReleaseKotlinAndroid
      compileTestKotlin{Jvm,Js,LinuxX64,MingwX64}
      compileReleaseUnitTestKotlinAndroid
      --stacktrace

test:mac:
  stage: test
  interruptible: true
  timeout: 1h
  needs: [ "build:mac" ]
  tags: [ "connect2x-mac" ]
  cache:
    - *cache
  artifacts: *artifact-reports
  rules:
    - *if-merge-request
  script:
    - ./gradlew
      {iosSimulatorArm64,iosX64,macosArm64,macosX64}Test
      --stacktrace

test:linux:
  stage: test
  interruptible: true
  timeout: 1h
  needs: [ "build:linux" ]
  tags: [ "connect2x-linux" ]
  image: $BUILD_LINUX_IMAGE_NAME
  cache:
    - *cache
  artifacts: *artifact-reports
  rules:
    - *if-merge-request
  script:
    - ./gradlew
      {jvm,js,linuxX64,mingwX64,testReleaseUnit}Test -x :trixnity-client:integration-tests:jvmTest
      testCoverage
      --stacktrace
  coverage: '/Total test coverage.+ ([0-9]{1,3}%)/'

test:integration-test:
  stage: test
  interruptible: true
  timeout: 1h
  needs: [ "build:linux" ]
  tags: [ "connect2x-linux" ]
  image: $BUILD_LINUX_IMAGE_NAME
  services:
    - name: docker:dind
      command: [ "--tls=false" ]
  cache:
    - *cache
  variables: *docker-variables
  artifacts: *artifact-reports
  rules:
    - *if-merge-request
  script:
    - ./gradlew
      :trixnity-client:integration-tests:jvmTest
      -Dkotlinx.coroutines.debug
      --stacktrace

# requires macOS since it can build/emulate all other targets
checkAbi:
  stage: test
  interruptible: true
  timeout: 1h
  needs: [ "build:mac" ]
  tags: [ "connect2x-mac" ]
  artifacts: *artifact-reports
  rules:
    - *if-merge-request
  script:
    - ./gradlew dumpLegacyAbi --stacktrace
    - ./gradlew checkLegacyAbi --stacktrace

security:dependencies:
  stage: security
  interruptible: true
  timeout: 30m
  needs: [ ]
  tags: [ "connect2x-linux" ]
  image: $TRIVY_LINUX_IMAGE_NAME
  variables:
    TRIVY_CACHE_DIR: ".trivycache/"
    WITH_LOCK: true
  cache:
    - *cache
    - key:
        files:
          - gradle/wrapper/gradle-wrapper.properties
          - gradle/libs.versions.toml
      paths:
        - .trivycache/
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      allow_failure: true
    - if: '$CI_COMMIT_TAG =~ /^v\d+.\d+.\d+.*/'
      allow_failure: false
    - if: $CI_PIPELINE_SOURCE == "schedule"
      allow_failure: false
  artifacts:
    when: always
    reports:
      dependency_scanning: report.json
  script:
    - ./gradlew dependenciesForAll --write-locks > dependencies.txt
    - trivy repo ./ --exit-code 0
    - trivy repo ./ --exit-code 0 --format template --template "@/usr/local/share/trivy/templates/gitlab.tpl" --output report.json
    - trivy repo ./ --exit-code 1 --severity CRITICAL

changelog:
  stage: changelog
  interruptible: true
  timeout: 5m
  tags: [ "connect2x-linux" ]
  image:
    name: alpine/git:latest
    entrypoint: [ "" ] # tell gitlab to use `sh` instead of `git sh`
  rules:
    - *if-merge-request
  script:
    - git fetch origin main
    - |
      if git diff --name-only HEAD origin/main | grep "CHANGELOG.md"; then
        echo "CHANGELOG.md has changed"
      else
        echo "CHANGELOG.md has not changed"
        exit 1
      fi

publish:mac-dev:
  stage: publish
  tags: [ "connect2x-mac" ]
  timeout: 2h
  cache:
    - *cache
  rules:
    - *if-dev-release
  script:
    - ./gradlew
      publish{IosArm64,IosSimulatorArm64,IosX64,MacosArm64,MacosX64}PublicationToGitLabRepository
      --stacktrace

publish:linux-dev:
  stage: publish
  tags: [ "connect2x-linux" ]
  timeout: 2h
  image: $BUILD_LINUX_IMAGE_NAME
  cache:
    - *cache
  rules:
    - *if-dev-release
  artifacts:
    paths:
      - website/static/api/
  script:
    - ./gradlew
      publish{KotlinMultiplatform,Jvm,Js,LinuxX64,MingwX64,AndroidRelease,TrixnityPlatform}PublicationToGitLabRepository
      dokkaHtmlToWebsite
      --stacktrace

publish:release:
  stage: publish
  tags: [ "connect2x-mac" ]
  timeout: 2h
  cache:
    - *cache
  rules:
    - *if-release
  script:
    - ./gradlew
      publishAllPublicationsToGitLabRepository
      publishAndReleaseToMavenCentral
      --stacktrace

pages:
  stage: website
  image: node:lts
  rules:
    - *if-dev-release
    - if: '$CI_COMMIT_BRANCH =~ /^v-\d+.\d+.\d+.*/'
      when: never
  script:
    - cd website
    - yarn install --force
    - yarn build
    - mv ./build ../public
  artifacts:
    paths:
      - public
